/*---------DOCUMENT--------------*/
body, html {
    height: 100% !important;
    width: 100% !important;
}

body {
    font-family: 'Roboto', sans-serif !important;
    text-decoration: none !important;
    width: 100% !important;
    background-color: #EEF0FF !important;
    margin: 0 0 0 0 !important;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.row {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 0 0 0 !important;
}
/*----------HEADER-------------*/


/*----------FUULNAME-------------*/

container {
    position: relative;
    margin-top: 30px;
    margin-bottom: 6em;
    width: 100%;
}

.fullName {
    font-size: 2.0em;
    color: #14056C;
    text-align: center;
    font-weight: bold;
}






/*----------LISTCONTENT-------------*/
.elements {
    width: 100%;
    margin-top: 300px;
}

#content {
    flex: 1 0 auto;
    width: 100%;
    margin-top:12em;
}

#all {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
}
/*----------WORKPLACE-------------*/
#header_multimedia {
    position: relative;
    height: auto;
    display:flex;
    margin-top:5em;
    float: left;
    margin-left: 3em;
}

.header_item {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    margin-right: 2em;
    font-size: 22px;
    text-align: center;
    color: #14056C;
}

    .header_item:hover {
        border-bottom: 3px solid #14056C;
        cursor: pointer;
        font-size: 24px;
        color: #14056C !important;
    }

.header_item_active {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-right: 2em;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #14056C;
    border-bottom: 3px solid #14056C;
}

    .header_item_active:hover {
        color: #14056C !important;
    }

.element {
    padding: 20px 20px;
    width: 100%;
    color: #14056C;
    font-size: 1.5em;
}

.url {
    padding: 20px;
}



.edit {
    width: 100%;
    position:relative;
    margin-top:15em;
    height: auto;
    margin-bottom: 7em;
}

.change {
    position:relative;
    width: 100%;
    height: auto;
    margin-top:3em;
    margin-bottom:3em;
}
.change_photo {
    width: 100%;
    justify-content:center;
}

.change_photo_hidden_block {
    position: absolute;
    display: none;
    width: 170px;
    height: 100px;
    padding: 4px 0 4px 0;
    left:50%;
    margin-left:17em;
    margin-top:-8em;
    border-radius: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    align-items: center;
    text-align: center;
    background: #D7CDFF;
    color: rgba(20, 5, 108, 0.48);
}
.global_info{
    padding:15px 15px 15px 15px;
    text-align:center;
}
    .global_info p {
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        align-items: center;
        color: #14056C;
    }

.image {
    position:relative;
    overflow: hidden;
    width:751px;
    height: 459px;
    left:50%;
    margin-left:-375.5px;
    margin-right: 2em;
    margin-bottom: 4em;
}

.img {
    position:absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}

.hidden {
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.hidden_item {
    position: relative;
    width: 289px;
    height: 107px;
    border: 4px solid #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    display: none;
    z-index: 3;
    box-sizing: border-box;
}

    .hidden_item p {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        text-align: center;
        margin-top: 1.5em;
        color: #FFFFFF;
    }

.image:hover{
    cursor:pointer;
}

.image:hover .hidden_item {
    display: block;
    transition: 7s ease-in-out;
}

.image:hover .hidden {
    background-color: rgba(0,0,0,.5);
}

.btn_save {
    margin-left: 80%;
    margin-right: 0em;
    margin-top:1em;
    background: #14056C;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
