@using  Energetic.Models.Club.Contacts
@model List<Contact>

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Contacts</title>
    @Styles.Render("~/Content/Club/contacts.css")

</head>
<body>

    <section class="row">
        <section class="col-lg-12 col-sm-12 col-md-12 col-12 container">
            <section class="fullName">
                Контакты
            </section>
        </section>
    </section>

    <section class="elements">

        
        <section id="contacts">
            @foreach (Contact el in Model)
            {
               <section class="row">
                   <section class="text">
                       <h3 class="col-lg-4 col-sm-4 col-md-4 col-4">@el.Name</h3>
                       <p class="col-lg-7 col-sm-7 col-md-7 col-7">@el.Value</p>
                   </section>
               </section>
            }

        </section>
        

    </section>


</body>
</html>

