@using Energetic.Models.Club.Personal
@model List<Personal>

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Management</title>
    @Styles.Render("~/Content/Club/managment.css")

</head>
<body>
            <section class="row">
                <section class="col-lg-12 col-sm-12 col-md-12 col-12 container">
                    <section class="fullName">
                        Руководство
                    </section>
                </section>
            </section>

            <section class="elements">

                <section class="row">
                    @foreach (Personal el in Model)
                    {
                        <section class="col-lg-6 col-sm-12 col-md-6 col-12 ">
                            <section class="item">
                                <section class="item_header">@el.Position</section>
                                <section class="image">
                                    <img src="@Url.Content(el.Photo)" />
                                </section>
                                <section class="item_name">@el.Name</section>
                            </section>
                        </section>
                    }
                </section>


                </section>
            
</body>
</html>

